<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/postPage/postCss.css" rel="stylesheet" type="text/css"/>
    <script src="/js/board/postContent.js"></script>
    <title>게시글 내용</title>
</head>
<body>
    <th:block th:replace="~{views/common/pageTop :: pageTop}"></th:block>
    
    <form id="postContent-form">
    
    	<!-- 본문 헤드 -->
        <div id="postContent-category">
            [[${b.category}]]
        </div>
        <div id="postContent-title">
            [[${b.postTitle}]]
        </div>
        <div id="postContent-date">
            [[${b.postDate}]]
        </div>
        <div id="postContent-views">
            조회수 : [[${b.postViews}]]
        </div>
        <div id="postContent-recommend">
            추천수 : [[${b.postRecommend}]]
        </div>
        <br/>
        
        <!-- 본문 내용 -->
        <div id="postContent-content">
        	[[${b.postContent}]]
        </div>
        <br/>
        
        <!-- 첨부파일 -->
        <div th:each="a:${list}">
	        <h4 class="files">
	        	<a th:href="@{/}+${a.attmRename}" th:download="${a.attachmentName}">첨부파일 : [[${a.attachmentName}]]</a>
	        </h4>
        </div>
        
        
        <!-- 밑에 수정, 삭제는 작성자 본인일 때 나타나게끔 -->
        <div id="editButtons">
        <th:block th:if="${session.loginUser != null && session.loginUser.userId == b.userId}">
	        <button class="postContent-buttons" type="button">수정</button>
	        <button class="postContent-buttons" type="button">삭제</button>
        </th:block>
        <button class="postContent-buttons" id="postContentToList" type="button" onclick="location.href='javascript:history.back()'">목록</button>
        <br/>
        </div>
        
        <!-- 댓글 부분 -->
        <div id="postContent-reply">
			<p>댓글 창</p>
		</div>
        <br/>
        <input type="text" id="postContent-replyContent"/>
        <button id="replyButton">등록</button>
    </form>
</body>
</html>