<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="pageTop">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
        <tr id="page-head">
            <td>
                <a href="/">
                    <img src="/image/로고.png" alt="사이트로고" id="site-rogo"/>
                </a>
            </td>
            <td>
                <button class="board-button" id="notice-board" data-url="/board/noticeBoard">공지사항</button>
            </td>
            <td>
                <button class="board-button" id="license-review-board" data-url="/board/licenseBoard">자격증 후기</button>
            </td>
            <td>
                <button class="board-button" id="study-board" data-url="/board/studyBoard">공부 방법</button>
            </td>
            <td>
                <button class="board-button" id="guideline-board" data-url="/board/guidelineBoard">초보자 가이드라인</button>
            </td>
            <td>
                <button class="board-button" id="bestPost-board" data-url="/board/bestPostBoard">인기글</button>
            </td>
            
<!--             // 상단바에 있는 로그인, 회원가입, 로그아웃, 마이페이지 버튼의 URL이 꼬이는 상황이 발생하여 -->
<!-- 			// 클래스네임을 따로뒀음 -->
            
            <th:block th:if="${session.loginUser == null}">
	            <td id="login-td">
	                <button class="board-buttons" onclick="location.href='/users/signIn'">로그인</button>
	            </td>
	            <td id="member-register-td">
	                <button class="board-buttons" onclick="location.href='/users/enroll'">회원가입</button>
	            </td>
            </th:block>
            
            <th:block th:if="${session.loginUser != null}">
            	<td id="afterLogin">
					[[${session.loginUser.userNickname}]]님 환영합니다.
            	</td>
            	<td>
					<button type="button" onclick="location.href='/users/logout'" class="board-buttons">로그아웃</button>
            	</td>
            	<td>
					<button type="button" onclick="location.href='/users/myInfo'" class="board-buttons">마이페이지</button>
            	</td>
			</th:block>
            
        </tr>
    </table>
</body>
</html>