<!-- 
할일
    세션에서 정보를 와 채팅의 유저가 같으면 오른쪽에 표시 아니면 왼쪽에 표기 
    실시간으로 채팅이 되어야 함
    db에 저장이 되야함
    관리자가 삭제버튼을 누를 시 해당 채팅이 삭제되어야함

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/chatting/chatting.css">
<script src="/js/chatting/chatting.js" type="module"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="cMain">
        <div id="chat">
            
            <!-- <div class="lChat chatting">
                <div class="dsib name">가</div>
                <div class="dsib date">2025/07/02</div>
                <br>
                    &emsp;
                    <div class="dsib content">안녕하세요</div>

            </div>
            <div class="rChat chatting">
                <div class="dsib date">2025/07/02</div>
                <div class="dsib name">나</div>              
                <br>
                    <div class="dsib content">감사해요</div>
                    &emsp;
            </div> -->
  
        </div>
        <div id="messageDiv">
            <table>
                <tr>
                    <td id="chatMessage">
                        <!-- 글자 수 제한 = maxlength -->
                         <textarea id="message" placeholder="메세지를 입력하세요" maxlength="200"></textarea>
                    </td>
                    <td style="width: 10px;">

                    </td>
                    <td id="chatSend">
                        <button  id="sendButton">→</button>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>